[submodule "ansible/roles/os_config"]
	path = ansible/roles/module/os_config
	url = https://github.com/larsks/ansible-os-config
[submodule "ansible/roles/sql_query"]
	path = ansible/roles/module/sql_query
	url = https://github.com/larsks/ansible-sql-query
